<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/layout}">

<head>
  <meta charset="UTF-8">
  <title>알고레</title>
  <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Yeon+Sung&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
          crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}" />

  <style>
    a {
      text-decoration: none
    }

    .sear-btn {
      font-family: Inter;
      font-size: 20px;
      letter-spacing: 0;
      font-weight: bold;
      color: #208BCE;
    }

    .new-margin {
      margin-top: 30px;
    }

    .fon-color {
      color: #085A84;
    }

    .but-off-color {
      background-color: #D8F0FF;
      /*버튼테두리*/
      border-color: #D8F0FF;
      /*버튼*/
      color: #085A84;
      /*텍스트*/
      padding: 10px 15px 10px 15px;
      border-radius: 2em;
    }

    .but-off-color:hover {
      background-color: #99D3F8;
      /*버튼테두리*/
      border-color: #99D3F8;
      /*버튼*/
      color: #085A84;
      /*텍스트*/
      padding: 10px 15px 10px 15px;
      border-radius: 2em;
    }

    .input-box-sty {
      margin-top: 10px;
      border: 2px solid;
      border-color: #085A8485;
      font-size: 15px;
    }

    .input-box-sty::placeholder {
      color: #085A8485;
      font-size: 15px;
    }

    .pla-col {
      color: #085A84;
    }

    .pla-col::placeholder {
      color: #085A8485;
      font-size: 15px;
    }


    .ma-2-pla::placeholder {
      margin-top: 50px;
    }

    /*미디어*/
    @media (max-width : 500px) {

      iframe {
        height: auto;
      }

      #other-recipe-area {
        display: none;
      }

      #article1 {

        border-right-width: 0px;

      }

      #step-img-area {
        padding: 0px;
      }



      #list-icon {
        position: fixed;
        top: 15%;
        left: 6%;
        z-index: 99;
      }
    }
  </style>
</head>

<!--21_0_레시피_작성-->
<main class="write01"
      style="width: 1000px; margin: 0 auto; padding-left:10px; padding-right: 10px; margin-bottom: 100px; margin-top: 100px;">
  <!--레시피 제목-->
  <div class="recipeTitle" style="text-align: center; margin-bottom: 30px;">
    <div class="title fon-color" style="margin-bottom: 15px;">
      <h3><b>레시피 작성</b></h3>
    </div>
    <hr class="fon-color" style="margin-top: 30px;">
  </div>
  <div class="d-flex justify-content-between">
    <div class="d-flex justify-content-center">
      <form action="/recipe/regist.do" method="post" enctype="multipart/form-data">
        <!--대표사진등록-->
        <label for="validationCustom04" class="form-label fon-color"
               style="margin-top: 30px; margin-left: 10px;">
          <h6><b>대표사진</b></h6>
        </label>
        <div class="align-items-center">
          <!--사진등록 및 경로-->
          <label class="input-file-button float-start" for="input-file"
                 style="width: 400px; height: 300px; background-color: #D8F0FF70; border-radius: 30px;">
            <img id="output" class="" width="400px" height="300px"
                 style="background-color: D8F0FF70; border-radius: 30px; margin-right: 20px; ">
          </label>
          <input type="file" id="input-file" style="display: none;" accept="image/jpeg, image/png, image/jpg"
                 name="mainPicture" class="isFile" onchange="loadFile(event)" required="required" />
        </div>
        <!--카테고리-->
        <div>
          <label for="validationCustom04" class="form-label fon-color"
                 style="margin-top: 40px; margin-left: 10px;">
            <h6><b>카테고리</b></h6>
          </label>
          <select class="form-select fon-color input-box-sty pla-col" id="" name="recipeCategory" required
                  style="width: 400px; border-radius: 1em;">
            <option selected disabled value="">음식 카테고리</option>
            <option value="vegetarian">채식</option>
            <option value="korean">한식</option>
            <option value="Western">양식</option>
            <option value="Western">일식</option>
            <option value="Western">중식</option>
            <option value="Western">퓨전</option>
            <option value="flour">분식</option>
            <option value="snack">안주</option>
            <option value="dessert">간식</option>
          </select>
          <div class="invalid-feedback fon-color">카테고리를 선택하세요</div>
          <br>
        </div>
      </form>
    </div>
    <div style="width: 520px;">
      <!--레시피 제목-->
      <div>
        <div class="mb-3 pla-col" style="margin-top: 30px;">
          <label for="exampleFormControlInput1" class="form-label fon-color" style="margin-left: 10px;"><b>레시피
            제목</b></label>
          <input type="email" class="form-control pla-col input-box-sty" id="exampleFormControlInput1"
                 style="border-radius: 1em;" placeholder="레시피 제목을 입력하세요.">
        </div>
      </div>
      <!--레시피 소개-->
      <div>
        <label for="validationCustom04" class="form-label" style="margin-top: 9px;">
          <h6 style="color: #085A84; margin-left: 10px;"><b>레시피 소개</b></h6>
        </label>
        <textarea class="form-control pla-col input-box-sty ma-2-pla" placeholder="레시피 소개를 입력하세요."
                  id="floatingTextarea2" name="recipeDescription"
                  style="height: 310px; resize: none; border-radius: 1.5em;" maxlength="100"></textarea>
      </div>
    </div>
  </div>
  <!--동영상-->
  <div class="exampleFormControlInput1 fon-colorss fon-color" style="margin-top: 15px;">
    <h6 style="margin-left: 10px;"><b>동영상 링크 첨부</b></h6>
    <input type="text" class="form-control input-box-sty pla-col" id="" name="recipeVideo" onblur="isYoutube()"
           placeholder="youtube.com" style="margin-top: 15px; border-radius: 1em;">
  </div>
  <!--재료라벨-->
  <div style="margin: 30px 12px 0px 12px;">
    <label for="floatingInput fon-color" class="fon-colors" style="color: #085A84;"><b>재료</b></label>
  </div>
  <!--재료-->
  <div class="d-flex justify-content-between">
    <!--재료입력-->

    <div>
      <!--재료입력1-->
      <div class="d-flex justify-content-between">
        <!-- 재료명-->
        <div class="form-floating fon-colors" style="margin-top: 10px;">
          <input type="text" class="form-control input-box-sty" id="" maxlength="10" name="material"
                 style=" width: 300px; border-radius: 1.5em;">
          <label for="floatingInput" style="margin-top: 10px; margin-left: 5px; color: #085A84;">재료명</label>
        </div>
        <!--계량-->
        <div class="form-floating w-100" style="margin-left: 20px; margin-top: 10px;">
          <input type="text" class="form-control input-box-sty" id="" maxlength="5" name="amount"
                 style="border-radius: 1.5em;">
          <label for="floatingInput" style="margin-top: 10px; margin-left: 5px; color: #085A84;">계량</label>
        </div>
        <!-- 단위 -->
        <div class="form-floating w-100" style="margin-left: 20px; margin-top: 10px;">
          <select class="form-select input-box-sty" id="" name="recipeunit"
                  style="border-radius: 1.5em; color: #085A84;">
            <option value="kg">kg</option>
            <option value="korean">g</option>
            <option value="korean">ml</option>
            <option value="korean">L</option>
            <option value="korean">컵</option>
            <option value="korean">T</option>
          </select>
        </div>
        <!--삭제 버튼-->
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
               class="bi bi-x-circle" viewBox="0 0 16 16" onclick="removeDe()">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
          </svg>

          <!-- <button class="btn btn-primary but-off-color" type="button" onclick="removeDe()"
              style="border-radius: 5em; width: 30px; height: 30px;">X
          </button> -->
        </div>
      </div>
      <!--재료입력2-->
      <div class="d-flex justify-content-between">
        <!-- 재료명-->
        <div class="form-floating fon-colors" style="margin-top: 10px;">
          <input type="text" class="form-control input-box-sty" id="" maxlength="10" name="material"
                 style=" width: 300px; border-radius: 1.5em;">
          <label for="floatingInput" style="margin-top: 10px; margin-left: 5px; color: #085A84;">재료명</label>
        </div>
        <!--계량-->
        <div class="form-floating w-100" style="margin-left: 20px; margin-top: 10px;">
          <input type="text" class="form-control input-box-sty" id="" maxlength="5" name="amount"
                 style="border-radius: 1.5em;">
          <label for="floatingInput" style="margin-top: 10px; margin-left: 5px; color: #085A84;">계량</label>
        </div>
        <!-- 단위 -->
        <div class="form-floating w-100" style="margin-left: 20px; margin-top: 10px;">
          <select class="form-select input-box-sty" id="" name="recipeunit"
                  style="border-radius: 1.5em; color: #085A84;">
            <option value="kg">kg</option>
            <option value="korean">g</option>
            <option value="korean">ml</option>
            <option value="korean">L</option>
            <option value="korean">컵</option>
            <option value="korean">T</option>
          </select>
        </div>
        <!--삭제 버튼-->
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
               class="bi bi-x-circle" viewBox="0 0 16 16" onclick="removeDe()">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
          </svg>
          <!-- <button class="btn btn-primary but-off-color" type="button" onclick="removeDe()"
              style="border-radius: 5em; width: 30px; height: 30px;">X
          </button> -->
        </div>
      </div>
      <!--재료입력3-->
      <div Id="REgreen" class="REgreenC d-flex justify-content-between">
        <!-- 재료명-->
        <div class="form-floating fon-colors" style="margin-top: 10px;">
          <input type="text" class="form-control input-box-sty" id="" maxlength="10" name="material"
                 style=" width: 300px; border-radius: 1.5em;">
          <label for="floatingInput" style="margin-top: 10px; margin-left: 5px; color: #085A84;">재료명</label>
        </div>
        <!--계량-->
        <div class="form-floating w-100" style="margin-left: 20px; margin-top: 10px;">
          <input type="text" class="form-control input-box-sty" id="" maxlength="5" name="amount"
                 style="border-radius: 1.5em;">
          <label for="floatingInput" style="margin-top: 10px; margin-left: 5px; color: #085A84;">계량</label>
        </div>
        <!-- 단위 -->
        <div class="form-floating w-100" style="margin-left: 20px; margin-top: 10px;">
          <select class="form-select input-box-sty" id="" name="recipeunit"
                  style="border-radius: 1.5em; color: #085A84;">
            <option value="kg">kg</option>
            <option value="korean">g</option>
            <option value="korean">ml</option>
            <option value="korean">L</option>
            <option value="korean">컵</option>
            <option value="korean">T</option>
          </select>
        </div>
        <!--삭제 버튼-->
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
               class="bi bi-x-circle" viewBox="0 0 16 16" onclick="removeGr()">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
          </svg>
          <!-- <button class="btn btn-primary but-off-color" type="button" onclick="removeDe()"
              style="border-radius: 5em; width: 30px; height: 30px;">X
          </button> -->
        </div>
      </div>
      <!--재료 추가 버튼-->
      <div class="d-grid gap-1 col-12 mx-auto" style="margin-top: 10px;">
        <button class="btn btn-primary but-off-color" onclick="addGr()">추가</button>
      </div>
    </div>

  </div>
  <!--요리순서 라벨-->
  <div style="margin-top: 30px;">
    <label for="floatingInput" style="color: #085A84; margin-left: 10px;"><b>요리순서</b></label>
  </div>
  <!--요리순서-->
  <div>
    <div Id="REdetail" class="REdetailC d-flex justify-content-center">
      <!-- 이미지 미리보기 이미지 파일 -->
      <div class="align-items-center" style="margin-top: 15px;">
        <label class="input-file-button float-start">
          <img class="detailImg" width="400px" height="270px"
               style="background-color: #D8F0FF70; border-radius: 10px; border-radius: 30px;">
          <input type="file" name="recipePicture" class="isFile" style="display: none"
                 accept="image/jpeg, image/png, image/jpg" onchange="imgView(this);">
        </label>
      </div>
      <!--요리순서 설명-->
      <div class="form-floating" style="margin-top: 10px; margin-left: 35px; ">
                <textarea class="form-control input-box-sty" placeholder="" id="floatingTextarea2"
                          name="recipeDescription"
                          style="width: 520px; height: 260px; resize: none; border-radius: 2em;"></textarea>
        <label for="floatingTextarea2" class="mt-3 pla-col mb-3" style="font-size: 17px; margin-left: 10px;">설명을
          입력하세요</label>
      </div>
      <!-- 삭제 -->
      <!-- <div>
          <button class="btn btn-primary but-off-color" type="button" onclick="removeStep(this)"
              style="border-radius: 5em; width: 30px; height: 30px;">X
          </button>
      </div> -->
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle"
           viewBox="0 0 16 16" onclick="removeDe()">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
        <path
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
      </svg>

      <!-- 설명에 쉼표를 넣었을때 배열로 만들지 않기위한 더미 value -->
      <input type="text" name="recipeDescription" value="ab22bb" style="display: none">
    </div>

    <span id="addplace"></span>
  </div>
  <!--추가 버튼-->
  <div class="d-grid" style="margin-top: 10px; padding-left: 0px; padding-right: 30px;">
    <button class="btn btn-primary but-off-color" type="button" onclick="addDe()">추가</button>
  </div>

  <div class="d-flex justify-content-start" style="margin-top: 10px;">
    <!--요리 꿀팁 영역-->
    <div class="" style="margin-top: 10px;">
      <!--요리 꿀팁-->
      <div style="margin: 20px 0px 0px 0px;">
        <label for="floatingInput" style="margin-left: 10px; color: #085A84;"><b>요리 꿀팁</b></label>
      </div>
      <!--요리 꿀팁 텍스트박스-->
      <div class="">
                <textarea class="form-control input-box-sty" placeholder="요리 꿀팁을 작성하세요." id="floatingTextarea2"
                          name="recipeDescription"
                          style="height: 420px; width: 400px; margin-top: 10px; resize: none; border-radius: 2em;"></textarea>
      </div>
    </div>
    <!-- 완성 사진 영역 -->
    <div class="container text-align" style="margin-left: 30px; margin-top: 8px;">
      <!--완성 사진-->
      <div style="margin: 20px 12px 0px 12px;">
        <label for="floatingInput" style="margin-left: 10px; color: #085A84;"><b>완성 사진</b></label>
      </div>
      <div>
        <div class="d-flex justify-content-center">
          <!--사진1-->
          <div class="col" style="margin-right: 20px; margin-bottom: 10px;">
            <label class="input-file-button">
              <img class="detailImg mx-auto" width="250px" height="200px"
                   style="background-color: #D8F0FF70;; border-radius: 10px;  margin-top: 10px; border-radius: 30px;">
              <input type="file" name="recipePicture" class="isFile" style="display: none"
                     accept="image/jpeg, image/png, image/jpg" onchange="imgView(this);">
            </label>
          </div>
          <!--사진2-->
          <div class="col">
            <label class="input-file-button" style="margin-bottom: 10px;">
              <img class="detailImg mx-auto" width="250px" height="200px"
                   style="background-color: #D8F0FF70; border-radius: 10px;  margin-top: 10px; margin-right: 100p; border-radius: 30px;">
              <input type="file" name="recipePicture" class="isFile" style="display: none"
                     accept="image/jpeg, image/png, image/jpg" onchange="imgView(this);">
            </label>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <!--사진3-->
          <div class="col" style="margin-right: 20px;">
            <label class="input-file-button">
              <img class="detailImg mx-auto" width="250px" height="200px"
                   style="background-color: #D8F0FF70; border-radius: 10px;  margin-top: 10px; border-radius: 30px;">
              <input type="file" name="recipePicture" class="isFile" style="display: none"
                     accept="image/jpeg, image/png, image/jpg" onchange="imgView(this);">
            </label>
          </div>
          <!--사진4-->
          <div class="col">
            <label class="input-file-button">
              <img class="detailImg mx-auto" width="250px" height="200px"
                   style="background-color: #D8F0FF70; border-radius: 10px; margin-top: 10px; border-radius: 30px;">
              <input type="file" name="recipePicture" class="isFile" style="display: none"
                     accept="image/jpeg, image/png, image/jpg" onchange="imgView(this);">
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="" style="margin-right: 18px; margin-top: 10px;">
    <!--등록 버튼-->
    <input class="btn btn-primary but-off-color" type="submit" value="레시피 등록" onclick="checkMainPic();"
           style="float: right; margin-right: 10px; margin-top: 20px; margin-bottom: 30px;">
    <!--취소 버튼-->
    <input class="btn btn-primary but-off-color" type="submit" value="취소" onclick="checkMainPic();"
           style="float: right; margin-right: 10px; margin-top: 20px; margin-bottom: 30px;">
  </div>
</main>
</div>

<script>

  var greenForm = document.querySelector('#REgreen');
  var addgreen = document.querySelector('#addgreen');
  var count = 3;
  function addGr() {
    if (count <= 20) {
      addplace.appendChild(greenForm.cloneNode(true));
      document.querySelectorAll('.REgreenC')[document
              .querySelectorAll('.REgreenC').length - 1].childNodes[1].childNodes[1].childNodes[1].value = "";
      document.querySelectorAll('.REgreenC')[document
              .querySelectorAll('.REgreenC').length - 1].childNodes[5].childNodes[1].childNodes[1].childNodes[3].childNodes[3].value = "";

      count++;
    }
  }

  function removeGr() {
    var greenFormClass = document.querySelectorAll('.REgreen');
    if (count > 3) {
      greenFormClass[greenFormClass.length - 1].remove();
      count--;
    }
  }


  var detailForm = document.querySelector('#REdetail');
  var addplace = document.querySelector('#addplace');
  var count = 3;
  function addDe() {
    if (count <= 10) {
      addplace.appendChild(detailForm.cloneNode(true));
      document.querySelectorAll('.REdetailC')[document
              .querySelectorAll('.REdetailC').length - 1].childNodes[1].childNodes[1].childNodes[1].value = "";
      document.querySelectorAll('.REdetailC')[document
              .querySelectorAll('.REdetailC').length - 1].childNodes[5].childNodes[1].childNodes[1].childNodes[3].childNodes[3].value = "";

      count++;
    }

  }

  function removeDe() {
    var detailFormClass = document.querySelectorAll('.REdetailC');
    if (count > 3) {
      detailFormClass[detailFormClass.length - 1].remove();
      count--;
    }

  }

  function loadFile(event) {
    var output = document.getElementById('output');
    output.src = URL.createObjectURL(event.target.files[0]);
    output.onload = function () {
      URL.revokeObjectURL(output.src)
    };
    imgCheck()
  };

  var imgFile = document.querySelectorAll('.isFile');
  var fileForm = /(.*?)\.(jpg|jpeg|png|gif|bmp)$/i;
  var fileSize;

  function checkMainPic() {
    if (imgFile[0].value == "") {
      alert("대표 이미지를 넣어주세요.");
    }
  };

  function imgCheck() {
    for (var i = 0; i < imgFile.length; i++) {
      if (imgFile[i].value != "") {

        if (!imgFile[i].value.match(fileForm)) {
          alert("이미지 파일만 업로드 가능합니다.");
          imgFile[i].value = "";
        }
      }
    }
  };

  function imgView(obj) {

    var imgid = obj.previousElementSibling;

    imgid.src = URL.createObjectURL(event.target.files[0]);
    imgid.onload = function () {
      URL.revokeObjectURL(imgid.src)
    }

    imgCheck()

  };

</script>

</html>
</body>