<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.algore.application.home.dao.MainviewMapper">
    <resultMap id="mainViewMap" type="com.algore.application.home.dto.MainViewDTO">
        <id property="recipeNum" column="RECIPE_NUM"/>
        <result property="recipeTitle" column="RECIPE_TITLE"/>
        <result property="views" column="RECIPE_VIEWS"/>
        <result property="fileName" column="MAIN_PHOTO"/>
        <result property="filePath" column="PHOTO_PATH"/>
    </resultMap>

    <select id="mainView" resultMap="mainViewMap">
        SELECT

        RECIPE_NUM,
        RECIPE_TITLE,
        RECIPE_VIEWS,
        MAIN_PHOTO,
        PHOTO_PATH
        FROM (SELECT
        RECIPE_NUM,
        RECIPE_TITLE,
        RECIPE_VIEWS,
        MAIN_PHOTO,
        PHOTO_PATH
        FROM RECIPE
        ORDER BY RECIPE_VIEWS DESC)
        WHERE ROWNUM <![CDATA[ < 5 ]]>


    </select>
</mapper>