<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.algore.application.recipe.dao.RecipeViewMapper">

<insert id="writeRecipe" parameterType="com.algore.application.recipe.dto.RecipeWriteDTO">
    INSERT
    INTO RECIPE
    VALUES (
    #{ nickName },
    #{ mainPhoto },
    #{ photoPath },
    #{ category },
    #{ recipeTitle },
    #{ recipeIntro },
    #{ recipeVideoLink },
    #{ ingName },
    #{ weigh },
    #{ riUnit },
    #{ rpFileName },
    #{ rpPath },
    #{ rpContent },
    #{ tip },
    #{ recipeFileName },
    #{ recipePath }
    )
    SELECT
    M.NICKNAME,
    R.MAIN_PHOTO,
    R.PHOTO_PATH,
    RC.CATEGORY,
    R.RECIPE_TITLE,
    R.RECIPE_INTRO,
    R.RECIPE_VIDEO_LINK,
    I.ING_NAME,
    RI.WEIGH,
    RI.RI_UNIT,
    RP.RP_FILE_NAME,
    RP.RP_CONTENT,
    R.TIP,
    RPH.RECIPE_FILE_NAME,
    RPH.RECIPE_PATH
    FROM  RECIPE R
    JOIN  MEMBER M ON (M.MEM_NUM = R.MEM_NUM)
    JOIN  RECIPE_CATEGORY RC ON (RC.CATEGORY_NUM = R.CATEGOTY_NUM)
    JOIN  RECIPE_INGREDIENT RI ON (RI.RECIPE_NUM = R.RECIPE_NUM)
    JOIN  INGREDIENT I ON (I.ING_NUM = RI.ING_NUM)
    JOIN  RECIPE_PROCEDURE RP ON (RP.RECIPE_NUM = R.RECIPE_NUM)
    JOIN  RECIPE_PHOTO RPH ON (RPH.RECIPE_NUM = R.RECIPE_NUM);

</insert>
</mapper>