<!DOCTYPE html>
<!-- 타임리프 th를 사용하고자 하는 경우 아래의 html 헤더를 추가해야됨 -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form action="regist" method="post">
      <table>
          <tr>
              <th>직원 이름 :</th>
              <td> <input type="text" name="empName"/></td>
          </tr>
          <tr>
              <th> 주민번호 :</th>
              <td> <input type="number" name="empNo"/></td>
          </tr>
          <tr>
              <th> 이메일 :</th>
              <td> <input type="email" name="email"/></td>
          </tr>
          <tr>
              <th> 전화번호 :</th>
              <td> <input type="text" name="phone"/></td>
          </tr>
          <tr>
              <th> deptCode :</th>
              <td>
                  <select name="deptCode">
                    <option value="D1">부서</option>
                  </select>
              </td>
          </tr>
          <tr>
              <th> salLevel :</th>
              <td>
                  <select name="salLevel">
                      <option value="S1">최고급여</option>
                  </select>
              </td>
          </tr>
          <tr>
              <th> jobCode :</th>
              <td>
                <select name="jobCode">
                   <option value="J1">대표</option>
                </select>
              </td>
          </tr>
          <tr>
              <th> 급여 :</th>
              <td> <input type="number" name="salary"/></td>
          </tr>
          <tr>
              <th> 보너스 :</th>
              <td> <input type="number" name="bonus" step="0.1"/></td>
          </tr>
          <tr>
              <th> 매니저 아이디 :</th>
              <td>
                  <select name="managerId">
                      <option value="202">성동일</option>
                  </select>
              </td>
          </tr>
          <tr>
              <th> 가입일 : </th>
              <td>
                  <input type="date" name="hireDate"/>
              </td>
          </tr>
      </table>
      <button type="submit">등록</button>
  </form>


  <form th:action="namecontroller" method="post">
      <div id="node">
          <ul>

          </ul>
      </div>
      <button type="submit">list 전송</button>
  </form>
  <button onclick="test2()"> 노드 추가 </button>



    <script th:inline="javascript" th:object="${TestDTO}">
        // 노드를 추가하는 로직

        // 엘리먼트를 복사함
        const testDiv = document.getElementById("node");
        // 자식노드를 선택함 : 필요 없는 경우 그냥 해도됨
        let ulEle = testDiv.querySelector("ul");
        let nameList
        // 아래와 같이 문자열로 취급되기 때문에 추가하는 것도 가능함
        let cnt = 0;
        // 노드를 추가하는 로직
        function test2(){
            ulEle.innerHTML += "<li> 이름 : <input th:type=\"text\" name=\"name\"/> <br>" +
                "숫자 : <input th:type=\"number\" name=\"test\"/></li>";

        }
    </script>

    <hr>
    <br>
  <!-- 복사하기 -->

    복사 대상 : <input type="text" name="copy"  onchange="copy(this)"/> <br>
    적용 대상 : <input type="text" name="patch" value="" />

    <script th:inline="javascript">
        const patch = document.querySelector("input[name='patch']");

        function copy(e){
            console.log("호출됨")
            patch.value = e.value;
        }
    </script>
</body>
</html>